<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="io.github.georgiosgoniotakis.bluetoothwrapper.library">

    <!-- Permissions to be granted -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

</manifest>
